extends ../layouts/main

block content
  script(src="scripts/admin.js")
  main.main
    .container
      h3.main-content1-title Админ панель
      table(border="1px" id="userTable")
        thead
          tr
            th ID
            th Login
            th Password
            th Created At
            th Updated At
            th Deleted At
            th Is Admin
            th Is Active
            th Actions
        tbody
      br
      button(type="button", class="reg-enter-button", id="add-new-user") Добавить пользователя
      .popup(id="popup-confirmation")
          .popup-body
            .popup-content 
              h2 Вы точно хотите удалить запись?
              br
              p Вся информация о данной записи удалится безвозвратно
              br
              button(type="button", class="reg-enter-button", id="accept-confirmation-btn") Удалить
              button(type="button", class="reg-enter-button", id="deny-confirmation-btn") Отменить