extends ../layouts/main

block content
  script(src="https://cdnjs.cloudflare.com/ajax/libs/docxtemplater/3.22.1/docxtemplater.js")
  script(src="https://cdn.jsdelivr.net/npm/pizzip@3.1.6/dist/pizzip.min.js")
  script(src="https://cdn.jsdelivr.net/npm/pdf-lib@1.4.0/dist/pdf-lib.min.js")
  script(src="scripts/docx_constructor.js")
  main.main
    .container
      .main-content1
        .constructor
          h2.title В этом разделе вы можете сконструировать своё заявление
          .wrapper
            .question1
              p #[strong Выберите подходящий вам пункт]:
              hr
              input(type="radio", name="question1", value="q1v1")
              label(for="question1") Учитывая изложенное, считаю необходимым признать мое заявление обоснованным и ввести процедуру реструктуризации долгов (необходимо подтвердить соответствие требованиям <a href="https://www.consultant.ru/document/cons_doc_LAW_39331/07305843250c57acd92d661a5f83e29056b56615/" target="_blank">пункта 1 статьи 213.13 Закона о банкротстве</a>)
              br
              input(type="radio", name="question1", value="q1v2")
              label(for="question1") Учитывая изложенное, считаю необходимым признать мое заявление обоснованным, ходатайствую о принятии в порядке <a href="https://www.consultant.ru/document/cons_doc_LAW_39331/ca74b72db11763fcd33eb8464df77ad7e069eeb6/#:~:text=6.,%D0%BD%D0%B5%20%D1%83%D1%81%D1%82%D0%B0%D0%BD%D0%BE%D0%B2%D0%BB%D0%B5%D0%BD%D0%BE%20%D0%BD%D0%B0%D1%81%D1%82%D0%BE%D1%8F%D1%89%D0%B8%D0%BC%20%D0%A4%D0%B5%D0%B4%D0%B5%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%BC%20%D0%B7%D0%B0%D0%BA%D0%BE%D0%BD%D0%BE%D0%BC." target="_blank">пункта 6 статьи 213.6 Закона о банкротстве</a> решения о признании меня банкротом и введении процедуры реализации имущества гражданина, поскольку имеющаяся у меня задолженность не подлежит реструктуризации по причине моего несоответствия требованиям пункта <a href="https://www.consultant.ru/document/cons_doc_LAW_39331/07305843250c57acd92d661a5f83e29056b56615/" target="_blank">1 статьи 213.13 Закона о банкротстве</a> (указать конкретное основание)
              br
              p.comment(id='question1-comment') Необходимо выбрать один из вариантов.
          .wrapper
            .question3
              p #[strong Выберите только те документы, что у вас есть]:
              hr
              input(type="checkbox", name="question3", value="q3v1")
              label(class="tooltip" for="question3") Подтверждение права собственности, удостоверение исключительных права на результаты интеллектуальной деятельности (при наличии)
                span.tooltiptext 
                  p - Право собственности на недвижимое имущество подтверждается выпиской из ЕГРН, которую можно получить на <a href="https://rosreestr.gov.ru/eservices/request_info_from_egrn/" target="_blank">официальном сайте Росреестра</a> или <a href="https://www.gosuslugi.ru/online-egrn" target="_blank">Госуслугах</a>.
                  p - Право собственности на движимое имущество подтверждается договором, актом приема-передачи, для автомобилей также ПТС и иными доказательствами.
                  p - Исключительные права подтверждаются <a href="https://www.a-priority.ru/business-center/documents-confirming-the-ownership-of.php" target="_blank">договорами и свидетельствами</a>.
              br
              input(type="checkbox", name="question3", value="q3v2")
              label(class='tooltip' for="question3") Документы о сделках, совершавшихся в течение 3 лет до даты подачи заявления с недвижимостью, ценными бумагами, долями в уставном капитале, транспортными средствами или на сумму свыше 300 000 рублей (при наличии)
                span.tooltiptext - Все договоры, которые вы совершали с перечисленными объектами и те договоры, сумма которых составила более 300 000 рублей.  
              br
              input(type="checkbox", name="question3", value="q3v3")
              label(class='tooltip' for="question3") Выписка из реестра акционеров (участников) юридического лица (при наличии)
                span.tooltiptext - Выписка запрашивается у держателя реестров акционеров - специализированная организация, которая имеет лицензию на эту деятельность. Такая компания называется «регистратор». Узнать, кто является держателем реестра, можно, заказав выписку из ЕГРЮЛ на акционерное общество. Это открытая информация и сделать это можно совершенно бесплатно на сайте ФНС или через сервисы проверки контрагентов. Для получения выписки из реестра акционеров нужно составить официальный письменный запрос реестродержателю на предоставление выписки.
              br
              input(type="checkbox", name="question3", value="q3v4")
              label(for="question3") <a href='https://www.nalog.gov.ru/rn75/news/activities_fts/13484498/' target='_blank'>ИНН</a>(при наличии)
              br
              input(type="checkbox", name="question3", value="q3v5")
              label(class='tooltip' for="question3") Свидетельство о заключении брака(при наличии)
                <span class="tooltiptext">- Если свидетельство утеряно, его следует запросить в органах ЗАГС месту жительства или пребывания заявителя</span> 
    
              br
              input(type="checkbox", name="question3", value="q3v6")
              label(class='tooltip' for="question3") Свидетельство о расторжении брака, если оно выдано в течение 3 лет до даты подачи заявления (при наличии)
                <span class="tooltiptext">- Если свидетельство утеряно, его следует запросить в органах ЗАГС месту жительства или пребывания заявителя</span> 
              br
              input(type="checkbox", name="question3", value="q3v7")
              label(for="question3") Копия брачного договора (при наличии)
              br
              input(type="checkbox", name="question3", value="q3v8")
              label(for="question3") Документы о разделе общего имущества супругов, заключенные или принятые в течение 3 лет до даты подачи заявления (при наличии)
              br
              input(type="checkbox", name="question3", value="q3v9")
              label(for="question3") Копия трудовой книжки (при наличии)
              br
          .wrapper
            .question4
              p #[strong Обратите внимание! Эти документы являются обязательными, и будут добавлены в заявление автоматически]:
              hr
              ul.question4-list
                li.tooltip Подтверждение задолженности
                  <span class="tooltiptext"> <p>-Основания: договоры займа, кредита, микрозайма, ипотеки и все иные договоры, которые стали основанием возникновения у вас долга перед кредитором</p><br><p>-Неспособность удовлетворить требования кредиторов: ваши обращения к кредитору, связанные с невозможностью своевременного возврата долга; претензии кредиторов к вам, связанные с неуплатой долга; уведомления кредиторов о наличии у вас задолженности и т.д.</p><br><p>Все эти документы также подтверждают у вас наличие задолженности перед кредиторами.</p></span>
                li.tooltip Документ, подтверждающий наличие или отсутствие статуса ИП
                  <span class="tooltiptext"><p> <strong>ВАЖНО!</strong> Такие документы должны быть получены не ранее чем за пять рабочих дней до даты подачи в арбитражный суд гражданином заявления о признании его банкротом</p><br><p>Такой документ можно заказать через <a href="https://www.gosuslugi.ru/help/faq/egrul/4567" target="_blank">Госуслуги</a> или <a href="https://egrul.nalog.ru/index.html" target="_blank">на официальном сайте ФНС</a></p></span> 
                li.tooltip Списки кредиторов и должников гражданина, а также денежных обязательств и (или) обязанности по уплате обязательных платежей. <a href='#' onclick="buildAndDownloadDocument('Шаблон. Список кредиторов и должников гражданина.docx', false);">Форма</a> и <a href='#' onclick="buildAndDownloadDocument('Заполненный список кредиторов и должников.pdf', false);">Пример</a> представления указанных списков утверждается регулирующим органом
                  <span class="tooltiptext">- На сайте представлен шаблон данной формы и образец ее заполнения</span>
                li.tooltip Опись имущества гражданина. <a href='#' onclick="buildAndDownloadDocument('Шаблон. Опись имущества гражданина.docx', false);">Форма</a> и <a href='#' onclick="buildAndDownloadDocument('Заполненная опись имущества.pdf', false);">Пример</a> представления данной описи утверждается регулирующим органом
                  <span class="tooltiptext">- На сайте представлен шаблон данной формы и образец ее заполнения</span>
                li.tooltip Сведения о доходах и о налогах за трехлетний период, предшествующий дате подачи заявления о признании гражданина банкротом
                  <span class="tooltiptext">
                  p - Для этого вам нужна справка 2-НДФЛ. Данную справку можно получить на  <a href="https://www.nalog.gov.ru/rn50/news/activities_fts/10095937/" target="_blank">официальном сайте ФНС</a> в личном кабинете налогоплательщика для физических лиц или на портале <a href="https://www.gosuslugi.ru/help/faq/income_statement/102203" target="_blank">Госуслуг</a>.
                  </span>
                li.tooltip Документы о счетах в банках
                  span.tooltiptext #[strong ВАЖНО!] Данные документы должны быть получены за трехлетний период, предшествующий дате подачи заявления о признании гражданина банкротом.
                li.tooltip СНИЛС
                  <span class="tooltiptext">- это СНИЛС (страховой номер индивидуального лицевого счёта)
                  </span>
                li.tooltip Сведения о состоянии индивидуального лицевого счета застрахованного лица
                  <span class="tooltiptext">- Сведения можно получить через Личный кабинет застрахованного лица, Единый портал государственных (муниципальных) услуг (ЕПГУ) или в территориальном органе ПФР.
                  </span>
                li.tooltip Копия решения о признании гражданина безработным, в случае принятия указанного решения
                  .tooltiptext #[strong ВАЖНО!] Данные документы должны быть получены за трехлетний период, предшествующий дате подачи заявления о признании гражданина банкротом. 

                li.tooltip Копия свидетельства о рождении ребенка, если гражданин является его родителем, усыновителем или опекуном
                  <span class="tooltiptext">- Если оно утеряно, то следует обратиться в ЗАГС. Повторный документ выдается органом ЗАГС по месту жительства или пребывания заявителя. Также можно подать заявление через Госуслуги. </span>
                li.tooltip Документы, подтверждающие иные обстоятельства, на которых основывается заявление гражданина
                  <span class="tooltiptext">- Речь идет о всех тех документах, которые вы посчитаете необходимым предоставить суду, чтобы доказать обоснованность ваших требований и обстоятельств, указанных в заявлении.</span>
                li.tooltip Квитанция об оплате государственной пошлины или ходатайство об отсрочке
                  <span class="tooltiptext">
                  p - Вам необходимо приложить квитанцию об оплате государственной пошлины в размере 300 рублей. 
                  p - Если вы являетесь инвалидом 1 или 2 группы, то вы освобождены от уплаты государственной пошлины - для этого вам необходимо заполнить соответствующее заявление (шаблон и образец заполнения представлены на нашем сайте)
                  p - Если вы находитесь в тяжелом материальном положении, то вы также можете заполнить соответствующее заявление (шаблон и образец заполнения представлены на нашем сайте)

                  </span>
                li.tooltip Доказательство направления копии заявления кредиторам (почтовые квитанции, расписки о вручении, почтовые уведомления)
                  <span class="tooltiptext">- Вам необходимо направить всем своим кредиторам (те, кому вы должны) копию вашего заявления о признании вас банкротом и приложить доказательства такого отправления.</span>
                li.tooltip Доказательство внесения на депозитный счет Арбитражного Суда денежных средств для услуг финансового управляющего либо  ходатайство о предоставлении отсрочки внесения средств
                  <span class="tooltiptext">
                  p - Размер фиксированного вознаграждения финансового управляющего составляет 25 000 рублей за процедуру. Эти деньги необходимо внести в депозит суда до даты подачи заявления в суд. В таком случае необходимо к заявлению приложить квитанцию об оплате
                  p - Также вы можете к заявлению приложить ходатайство (шаблон и образец заполнения представлены на здесь) о предоставлении вам отсрочки на внесение денежных средств в размере 25.000 рублей в депозит суда. 
                  p #[strong ВАЖНО!] Деньги должны быть внесены до даты судебного заседания суда по рассмотрению вашего заявления по существу. В противном случае ваше заявление не рассмотрят.
                  </span>
                li Копия паспорта (копии всех листов, как с отметками, так и не заполненных)
                
              br
          button.btn(type="button", id='build-btn') Скачать документ
          button.btn(type="button", onclick="buildAndDownloadDocument('Заполненное заявление о признании банкротом гражданина.docx', false);") Скачать заполненный пример заявления