- var user_agreement_link = "/policy/Пользовательское соглашение.pdf"
- var user_personal_link = "/policy/Согласие_на_обработку_персональных_данных_БанкротствоЧек.pdf"
- var user_policy_link = "/policy/Политика_обработки_персональных_данных_БанкротствоЧек.pdf"


doctype html
html
  head
    title БанкротствоЧек
    meta(charset="utf-8")
    link(rel="stylesheet", href="css/styles.css")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap", rel="stylesheet")
    link(rel="icon", href="logo_new.ico", type="image/x-icon")
    script(src="scripts/jq.js")
    script(src="scripts/auth.js")
    script(src="scripts/popups.js")
    script(src="scripts/footer.js")
    script(src="scripts/feedback.js")
    script(src="scripts/relevance_date.js")
    script(src="scripts/navbar.js")
    script(src="scripts/disclaimer.js")
  body
    .viewport
      header.header
        .container
          .header-content
            .header-brand-nav
              .header-brand
                a(href="/")
                  img(src="logo_new.png", alt="logo")
                  h2.header_title БанкротствоЧек
              nav.nav
                
                a(href="/", id="a-main") Главная
                .vertical-line
                a(href="/about", id="a-about") О банкротстве
                .vertical-line
                a(href="/faq", id="a-faq") FAQ
                .vertical-line
                a(href="/constructor", class="constructor-link", id="a-constructor") Заявления
            .header-login
              - if (userIsLoggedIn)
                .header-login-dropdown
                  img(src="avatar.png", alt="avatar")
                  a.header-login-ref(href="#", id="username") #{username}
                .header-login-content
                  a(href="#", id='exit-btn') Выйти
              - else
                img(src="avatar.png", alt="avatar")
                a.header-login-ref(href="#", id="open-login-btn") Войти
                //a.header-login-ref(href="#", id="open-registration-btn") Регистрация
      .content
        block content
      footer
        .footer

          .container-data
            
            .centered-elements
              p.relevance-date Дата публикации
              button.feedback-btn Открыть форму обратной связи
            p.info-text Вся информация на портале носит справочный характер
          form.feedback-form.new-class(action="#", method="post")
            h3 Форма обратной связи
            input(id="feedback-name", type="text", placeholder="Ваше имя", maxlength="30",  required)
            input(id="feedback-email", type="email", placeholder="Ваш email", maxlength="30",  required)
            input(id="feedback-phone", type="tel", placeholder="Ваш номер телефона", maxlength="13", required)
            textarea(id="feedback-message", rows="4", placeholder="Ваше сообщение", maxlength="500",  required)
            button(id="feedback-btn", type="button") Отправить
            p(id="feedback-result") Заявка успешно отправлена, с вами свяжутся в ближайшее время.
            p.privacy-text Отправляя данную форму, вы подтверждаете, что ознакомились с нашей #[a.privacy-link(href=user_policy_link target="_blank") политикой обработки персональных данных] и дали свое согласие на #[a.privacy-link(href=user_personal_link target="_blank") обработку персональных данных].
            

        .popup(id="popup")
          .popup-body 
            .popup-content 
              span.close &times;
              h2 Вход
              form
                .container
                  hr
                  input(type="text", placeholder="Введите имя пользователя", id="login-login", maxlength="30", required)
                  br
                  input(type="password", placeholder="Введите пароль", id="login-password", maxlength="30", required)
                  br
                  div(id="enter-comment").popup-comment-div
                    p(id="enter-login-comment").popup-comment Фарвоафо
                    p(id="enter-password-comment").popup-comment Фарвоафо
                  hr
                  button(type="button", class="reg-enter-button", id="login-btn") Войти
                  hr
                  p #[a(id="login-reg-button", href="#") Зарегистрироваться] если у вас нет аккаунта
                  
        .popup(id="popup-2")
          .popup-body
            .popup-content 
              span.close2 &times;
              h2 Регистрация
              form
                .container 
                  hr
                  input(type="text", placeholder="Введите имя пользователя", id="registration-login", maxlength="30", required)
                  br
                  input(type="password", placeholder="Введите пароль", id="registration-password", maxlength="30", required)
                  br
                  input(type="password", placeholder="Повторите пароль", id="registration-password-again", maxlength="30", required)
                  br
                  div(id="registration-comment").popup-comment-div
                    p(id="registration-login-comment").popup-comment Фарвоафо
                    p(id="registration-password-comment").popup-comment Фарвоафо
                    br
                  p.privacy-text Создавая аккаунт вы соглашаетесь с нашей #[a.privacy-link(href=user_agreement_link target="_blank") политикой конфиденциальности]
                  button(type="button", class="reg-enter-button", id="registration-btn") Зарегистрироваться
                  hr
                  p #[a(id="reg-login-button", href="#") Войти] если у вас уже есть аккаунт
        .popup(id="popup-disclaimer")
          .popup-body
            .popup-content 
              h2 Дисклеймер
              br
              p Вся информация на портале носит справочный характер
              br
              button(type="button", class="reg-enter-button", id="accept-disclaimer-btn") Принимаю
