doctype html
html
  head
    title БанкротствоЧек
    meta(charset="utf-8")
    link(rel="stylesheet", href="../views/css/styles.css")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap", rel="stylesheet")
  body
    header.header
      .container
        .header-content
          .header-brand
            img(src="../public/logo_new.png", alt="logo")
            h2.header_title БанкротствоЧек
          nav.nav
            a(href="#") Главная
            a(href="#") О банкротстве
            a(href="#") Вопросы-Ответы
            a(href="#") Шаблоны документов
          .header-login
            - if (userIsLoggedIn)
              .header-login-dropdown
                img(src="../public/avatar.png", alt="avatar")
                a.header-login-ref(href="#", id="username") #{username}
              .header-login-content
                a(href="#") Профиль
                a(href="#") Настройки
                a(href="#", id='exit-btn') Выйти
            - else
              img(src="../public/avatar.png", alt="avatar")
              a.header-login-ref(href="#", id="open-login-btn") Вход /
              a.header-login-ref(href="#", id="open-registration-btn") Регистрация
              .login-form(style="display: none;")
                form()
                  input(type="text", id="login-login")
                  br
                  input(type="text", id="login-password")
                  br
                  button(type="button", id="login-btn") Войти
                  br
                  button(type="button", id="login-registration-btn") Зарегистрироваться
              .registration-form(style="display: none;")
                form()
                  input(type="text", id="registration-login")
                  br
                  input(type="text", id="registration-password")
                  br
                  button(type="button", id="registration-btn") Зарегистрироваться
                  br
                  button(type="button", id="registration-login-btn") Войти
    block content
    footer
      .container
        p © 2024 My Website. All rights reserved.
    script(src="../views/scripts/jq.js")
    script(src="../views/scripts/quiz.js")
    script(src="../views/scripts/auth.js")
    