html
  head
    title My Website
  body
    header
      nav
        ul
          li
            a(href="#") Home
          li
            a(href="#") About
          li
            a(href="#") Services
          li
            a(href="#") Contact
    block content
    footer
      p © 2024 My Website. All rights reserved.
