<!DOCTYPE html>
<html>
  <head>
    <title>My Website</title>
    <link rel="stylesheet" href="./views/css/styles.css">
  </head>
  <body>
    <header>
      <nav class="navbar"><span class="container"><span class="navbar-brand"><img src="./public/logo.png" alt="Logo"></span>
          <ul class="navbar-menu">
            <li><a href="#">Главная</a></li>
            <li><a href="#">О банкротстве</a></li>
            <li><a href="#">Вопросы-Ответы</a></li>
            <li><a href="#">Шаблоны документов</a></li>
          </ul>
          <div class="user-dropdown"></div><a href="#">Войти</a><a href="#">Зарегистрироваться</a></span></nav>
    </header>
    <footer>
      <div class="container">
        <p>© 2024 My Website. All rights reserved.</p>
      </div>
    </footer>
    <script src="./views/scripts/main.js"></script>
  </body>
</html>