doctype html
html
  head
    title БанкротствоЧек
    meta(charset="utf-8")
    link(rel="stylesheet", href="../views/css/styles.css")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap", rel="stylesheet")
    script(src="../views/scripts/jq.js")
    script(src="../views/scripts/auth.js")
    script(src="../views/scripts/popups.js")
  body
    .viewport
      header.header
        .container
          .header-content
            .header-brand
              img(src="../public/logo_new.png", alt="logo")
              h2.header_title БанкротствоЧек
            nav.nav
              a(href="/api") Главная
              a(href="#") О банкротстве
              a(href="/api/faq") Вопросы-Ответы
              a(href="/api/constructor") Шаблоны документов
            .header-login
              - if (userIsLoggedIn)
                .header-login-dropdown
                  img(src="../public/avatar.png", alt="avatar")
                  a.header-login-ref(href="#", id="username") #{username}
                .header-login-content
                  a(href="#") Профиль
                  a(href="#") Настройки
                  a(href="#", id='exit-btn') Выйти
              - else
                img(src="../public/avatar.png", alt="avatar")
                a.header-login-ref(href="#", id="open-login-btn") Вход /
                a.header-login-ref(href="#", id="open-registration-btn") Регистрация
      .content
        block content
      footer
        .container
          form.feedback-form.new-class(action="#", method="post")
            h3 Форма обратной связи
            input(type="text", placeholder="Ваше имя", required)
            input(type="email", placeholder="Ваш email", required)
            input(type="tel", placeholder="Ваш номер телефона", required)
            textarea(rows="4", placeholder="Ваше сообщение", required)
            button(type="submit") Отправить
            p Отправляя данную форму, вы подтверждаете свое согласие на обработку персональных данных.
    
    
        .footer
          .footer-item 
              p Наши контакты
              p +7 888 555 88 88
              p улица Пушкина, дом Колотушкина

          .container
              p © 2024 My Website. All rights reserved.
          .footer-item
              a(href='#')
                  img(src="../public/vk_logo.png", alt="logo")
        .popup(id="popup")
          .popup-body 
            .popup-content 
              span.close &times;
              h2 Вход
              form
                .container
                  hr
                  input(type="text", placeholder="Введите имя пользователя", id="login-login", required)
                  br
                  input(type="password", placeholder="Введите пароль", id="login-password", required)
                  br
                  hr
                  button(type="button", class="reg-enter-button", id="login-btn") Войти
        .popup(id="popup-2")
          .popup-body
            .popup-content 
              span.close2 &times;
              h2 Регистрация
              form
                .container 
                  hr
                  input(type="text", placeholder="Введите имя пользователя", id="registration-login", required)
                  br
                  input(type="password", placeholder="Введите пароль", id="registration-password", required)
                  br
                  input(type="password", placeholder="Повторите пароль", id="registration-password-again", required)
                  br
                  p Создавая аккаунт вы соглашаетесь с нашей #[a.privacy(href="#") политикой конфиденциальности]
                  button(type="button", class="reg-enter-button", id="registration-btn") Зарегистрироваться
      
    
    