.about-content-title {
  margin-top: 200px;
  text-align: center;
  font-size: 40px;
  margin-bottom: 44px;
}

.image-about {
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
}
.image-about img {
  height: 450px;
  width: auto;
}

.about-content1 {
  display: flex;
  align-items: top;
  justify-content: space-between;
}

.about-content1-info {
  max-width: 100%;
  margin-top: 44px;
}
.content-left {
  margin-left: 5%;
}
.about-content1-info p {
  font-size: 24px;
  margin-bottom: 10px;
}

.accordion {
  width: 100%; /* Ширина аккордеона */
  margin: 0 auto; /* Центрируем аккордеон */
  display: block;
  flex-direction: column; /* Отображаем элементы аккордеона в столбец */
}

.accordion-item {
  padding: 20px;
  margin-bottom: 20px; /* Расстояние между элементами аккордеона */
}

.accordion-header {
  position: relative;
  background-color: #f0f0f0;
  border-radius: 10px; /* Круглые углы */
  padding: 10px;
  cursor: pointer;
}

.accordion-content {
  padding: 30px;
}

.accordion-content p {
  margin: 0 auto;
  margin-bottom: 10px;
}

.accordion-item .accordion-header {
  border-top: 1px solid #ccc; /* Уменьшаем ширину полоски сверху */
  border-bottom: none; /* Убираем нижнюю полоску */
}
/* Добавляем стили для активного заголовка */
.accordion-header.active {
  display: block;
  background-color: rgba(57, 191, 141, 1);
}
.accordion-content-title1 {
  font-size: 20px;
  margin-left: 50px;
}

.toggle-icon {
  float: left;
}

.accordion-in {
  margin-left: 10px; /* Отступаем вложенный аккордеон */
}
p-text {
  margin-left: 10px;
}
.accordion-in-item {
  padding: 10px;
  margin-bottom: 10px; /* Расстояние между элементами вложенного аккордеона */
}

.accordion-in-header {
  font-size: 18px;
  background-color: rgba(211, 211, 211, 1);
  border-radius: 10px; /* Круглые углы */
  padding: 10px;
  cursor: pointer;
}

.accordion-in-content {
  padding: 10px;
}

.accordion-in-content p {
  margin: 0 auto;
  margin-bottom: 10px;
}
button {
  padding: 10px 20px;
  background-color: rgba(211, 211, 211, 1);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: #140a32;
}

button:hover {
  background-color: rgba(240, 240, 240, 0.703);
}
.toggle-icon-plus {
  position: absolute;
  right: 10px; /* Расположение значка справа от заголовка */
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s;
  font-size: 28px;
}

.rotate {
  transform: translateY(-50%) rotate(45deg); /* Поворот значка на 45 градусов */
}
