.constructor {
  margin-top: 150px;
}

.title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.wrapper {
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: rgba(206, 233, 218, 1);
  margin-bottom: 20px;
  padding: 20px;
}

.question1 input[type='radio'] {
  margin-right: 5px;
  line-height: 110%;
}

.question2 input[type='radio'] {
  margin-right: 5px;
  line-height: 110%;
}

.question3 input[type='checkbox'] {
  margin-right: 5px;
  line-height: 110%;
}

.question4 input[type='radio'] {
  margin-right: 5px;
  line-height: 110%;
}

.question4-list {
  margin-left: 20px;
}

hr {
  border: 1px solid #afa1a1;
  margin-bottom: 10px;
}

.btn {
  display: block;
  background-color: rgba(7, 175, 115, 1);
  color: white;
  padding: 16px 20px;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  font-size: 18px;
  width: 400px;
  height: auto;
  text-align: center;
  border-radius: 20px;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
.button-cont {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.btn-small {
  display: inline-flex;
  background-color: rgba(7, 175, 115, 1);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  font-size: 14px;
  width: 192px;
  height: auto;
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 0 12px; /* Добавляем небольшой отступ между кнопками */
}

/*
.question1 label:nth-of-type(1):hover {
  color: red;
}*/

/* Tooltip container */

/*
.tooltip {
  position: relative;
  display: inline-block;
}*/

.tooltip {
  width: fit-content;
  cursor: pointer;
  /* display: block; */
  /* flex-direction: column; */
  align-items: flex-start;
  position: relative;
}

/* Tooltip text */
.tooltiptext {
  /* display: none; */
  /* visibility: hidden; */
  /* background-color: rgba(40, 43, 42, 0.5); */
  background-color: rgb(255, 253, 235);
  color: #140a32;
  /* text-align: center; */
  padding: 10px 10px;
  border-radius: 6px;
  width: 700px;
  /* margin-left: -150px; */
  /* position: relative; */
  /* z-index: 1; */
  /* overflow: hidden; */
  /* max-height: 0; */
  font-weight: normal;
  cursor: normal;
  /* transition: max-height 0.4s ease-out; */
}

.tooltip .active {
  display: block;
}

/*
.active, .tooltip:hover {
  color: rgb(26, 108, 78);
  font-weight: bold;
  background-color: #ccc;
}*/

/* Show the tooltip text when you mouse over the tooltip container */
/*
.tooltip:hover .tooltiptext {
  visibility: visible;
  display: block;
}*/
/*
.tooltip .toggle-icon {
  float: right;
  margin-left: 3px;
  position: absolute;
}
*/

.toggle-icon-constr {
  position: absolute;
  float: right;
  padding-top: 20px;
  padding-left: 15px;
  margin-left: 3px;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 0.3s;
  font-size: 28px;
}

.toggle-icon-constr .rotate {
  transform: translateX(-50%) translateY(-50%) rotate(45deg); /* Поворот значка на 45 градусов */
}

.qss {
  background-color: #9c858533;
}

/* Поворачивающийся значок */
/*
.tooltip:after {
  content: '\02795';
  font-size: 13px;
  color: #777;
  float: left;
  margin-left: 15px;
}

.tooltiptext .active:after {
  content: "\2796";
}
*/
/*
.question4 li:nth-child(1):hover {
  color: orange;
}*/

.comment {
  color: red;
}
