.constructor {
  margin-top: 150px;
}

.title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.wrapper {
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: rgba(206, 233, 218, 1);
  margin-bottom: 20px;
  padding: 20px;
}

.question1 input[type='radio'] {
  margin-right: 5px;
  line-height: 110%;
}

.question2 input[type='radio'] {
  margin-right: 5px;
  line-height: 110%;
}

.question3 input[type='checkbox'] {
  margin-right: 5px;
  line-height: 110%;
}

.question4 input[type='radio'] {
  margin-right: 5px;
  line-height: 110%;
}

.question4-list {
  margin-left: 20px;
}

hr {
  border: 1px solid #afa1a1;
  margin-bottom: 10px;
}

.btn {
  display: block;
  background-color: rgba(7, 175, 115, 1);
  color: white;
  padding: 16px 20px;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  font-size: 18px;
  width: 400px;
  height: 50px;
  text-align: center;
  border-radius: 20px;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

/*
.question1 label:nth-of-type(1):hover {
  color: red;
}*/

/* Tooltip container */

/*
.tooltip {
  position: relative;
  display: inline-block;
}*/

.tooltip {
  width: fit-content;
}
.tooltiptext {
  cursor: default;
}

/* Tooltip text */
.tooltip .tooltiptext {
  display: none;
  visibility: hidden;
  /* background-color: rgba(40, 43, 42, 0.5); */
  background-color: rgb(255, 253, 235);
  color: #140a32;
  /* text-align: center; */
  padding: 10px 10px;
  border-radius: 6px;
  width: 700px;
  /* margin-left: -150px; */
  position: absolute;
  z-index: 1;
  height: auto;
  font-weight: normal;
  cursor: normal;
}

.tooltip:hover {
  color: rgb(26, 108, 78);
  font-weight: bold;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  display: block;
}

/*
.question4 li:nth-child(1):hover {
  color: orange;
}*/

#question1-comment {
  color: red;
}
