/*-----------FAQ---------------*/
.faq {
  margin-top: 200px;
  max-width: 600px;
  margin: 150px auto;
}

/*
.faq_question {
  background-color: rgba(206, 233, 218, 1);
  padding: 10px;
  cursor: pointer;
  margin-bottom: 5px;
  font-weight: bolder;
  border: 0px solid #ccc;
  border-radius: 10px;
}*/

.faq_question {
  position: relative;
  background-color: rgba(136, 199, 177, 0.659);
  border-radius: 10px; /* Круглые углы */
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.answer {
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgba(138, 132, 132, 0.221);
  border-radius: 10px;
}

.faq_question.active {
  display: block;
  background-color: rgba(57, 191, 141, 1);
}

.toggle-icon-faq {
  position: absolute;
  right: 7px;
  top: 50%;
  transform: translateY(-45%);
  transition: transform 0.3s;
  font-size: 28px;
}

.toggle-icon-faq.rotate {
  transform: translateY(-45%) rotate(45deg);
}

/*
.show-answer {
  max-height: 1000px;
}
*/
