/*-----------FAQ---------------*/
.faq {
  margin-top: 200px;
  max-width: 600px;
  margin: 150px auto;
}

.faq_question {
  background-color: rgba(206, 233, 218, 1);
  padding: 10px;
  cursor: pointer;
  margin-bottom: 5px;
  font-weight: bolder;
  border: 0px solid #ccc;
  border-radius: 10px;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease;
  padding: 0 10px;
}

.show-answer {
  max-height: 1000px; /* Выберите достаточно большое значение */
}
