/*-----------Footer---------------*/
footer {
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  padding: 20px 0px 30px 0px;
  background-color: rgba(57, 191, 141, 1);
  display: flex;
  position: static;
  bottom: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10%;
  .footer-item img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: auto;
    margin: 0 50px;
  }
  .footer-item p {
    color: #140a32;
    font-size: 12px;
    font-family: 'Open Sans';
  }
  .container p {
    font-size: 12px;
  }
}
.feedback-form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(211, 211, 211, 1);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  width: 30%; /* Ширина формы */
  align-items: center;
}

.feedback-form input[type='text'],
.feedback-form input[type='email'],
.feedback-form input[type='tel'],
.feedback-form textarea {
  width: 100%; /* Ширина всех полей равна ширине родительского блока */
  padding: 10px; /* Поля вокруг текста */
  margin-top: 10px; /* Добавляем отступ сверху */
  border: 1px solid #ccc; /* Цвет рамки всех полей */
  border-radius: 5px; /* Радиус скругления углов */
  box-sizing: border-box; /* Учитываем padding в общей ширине поля */
}

.feedback-form textarea {
  resize: vertical; /* Разрешаем изменение высоты текстового поля по вертикали */
}

.feedback-form .close-button {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}
.feedback-form button {
  background-color: white; /* Белый цвет кнопки */
  color: #333; /* Цвет текста на кнопке */
  border: 1px solid #333; /* Цвет рамки кнопки */
  cursor: pointer;
  width: auto; /* Автоматическая ширина кнопки */
  padding: 8px 16px; /* Поля вокруг текста */
  box-sizing: border-box; /* Учитываем padding в общей ширине кнопки */
  margin-top: 10px; /* Добавляем отступ сверху */
}

.feedback-form button:hover {
  background-color: #f2f2f2; /* Светло-серый цвет кнопки при наведении */
}
.feedback-btn {
  padding: 10px 20px;
  background-color: rgba(206, 233, 218, 1);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.feedback-btn:hover {
  background-color: #e2e8e4;
}

#feedback-result {
  display: none;
  color: green;
}
