extends ../layouts/main

block content
  div.container
    h1 Welcome to My Website
    p This is just a sample content for demonstration purposes.
    p You can replace it with your actual content.
  
  //QUIZ
  .quiz-container
    .question 
    .options
    .navigation 
      button(id="prevBtn", disabled) Назад
      button(id="nextBtn") Следующий вопрос
    progress(id="progressBar", value="0", max="100")

