extends ../layouts/main

block content
  main.main 
    .container
      h3.main-content1-title Банкротство гражданина
      .main-content1 
        .main-content1-info 
          p Банкротство — это процедура, которая позволяет законно освободиться от долгов, если нет возможности их выплачивать.
          p Подробнее о процедуре судебного и внесудебного банкротства:
          .main-articles 
            dir
              li
                a#accordion-link(href="../about#accordion-item-court-bank") Судебное банкротство
            dir
              li
                a(href="../about#accordion-item-out-court-bank") Внесудебное банкротство
            dir
              li
                a(href="../about#accordion-item-estate") Имущество, на которое не может быть обращено взыскание по исполнительным документам
        .couple 
          img(src="couple.png", alt="couple", style="border-radius: 10px;")
      .main-content2 
        p Перед прохождением теста #[strong обязательно]  ознакомьтесь с рисками и последствиями процедуры банкротства.
        p Во время процедуры банкротства права в отношении вашего имущества будут осуществляться  финансовым управляющим от вашего имени. Ваши сделки, заключенные не более 3 лет назад до подачи заявления о банкротстве, могут быть оспорены финансовым управляющим через суд и имущество вернется в конкурсную массу.
        p В течение 5 лет после прохождения процедуры банкротства вы не сможете:
        ul.main-content2-list 
          li оформить кредит или заем без указания на факт своего банкротства;
          li повторно заявить о возбуждении дела о признании банкротом;
          li зарегистрироваться в качестве индивидуального предпринимателя.
        p Подробнее #[a(href="../about#accordion-item-risks") о последствиях и рисках]
  //QUIZ
  h2.quiz-header Пройдите бесплатный тест и узнайте, подходит ли вам процедура банкротства? 
  .quiz-container
    .quiz-history
    .question
    .question-comment
    .options
    .navigation 
      button(id="prevBtn", disabled) Назад
      button(id="nextBtn") Следующий вопрос
  script(src="scripts/quiz.js")
  
