extends ../layouts/main

block content
  main.main 
    .container
      h3.main-content1-title Пройдите бесплатный тест и узнайте, подходит ли вам процедура банкротства?
      .main-content1 
        .main-content1-info 
          p Банкротство — это процедура, которая позволяет законно освободиться от долгов, если нет возможности их выплачивать.
          p Подробнее о процедуре судебного и внесудебного банкротства:
          .main-articles 
            dir
              a(href="#") Судебное банкротство
            dir
              a(href="#") Внесудебное банкротство
            dir
              a(href="#") Имущество, на которое не может быть обращено взыскание по исполнительным документам
        .couple 
          img(src="../public/couple.png", alt="couple")
      .main-content2 
        p Перед прохождением теста #[strong обязательно]  ознакомьтесь с рисками и последствиями процедуры банкротства:
        p Во время процедуры банкротства права в отношении вашего имущества будут осуществляться только финансовым управляющим от вашего имени.
        p В течение 5 лет после прохождения процедуры банкротства вы не сможете:
        ul.main-content2-list 
          li оформить кредит или заем без указания на факт своего банкротства;
          li повторно заявить о возбуждении дела о признании банкротом;
          li зарегистрироваться в качестве индивидуального предпринимателя;
          li Ваши сделки, заключенные не более 3 лет назад до подачи заявления о  банкротстве, могут быть оспорены и имущество вернется в конкурсную массу.
          li иные #[a(href="#") последствия и риски];
  //QUIZ
  .quiz-container
    .quiz-history
    .question 
    .options
    .navigation 
      button(id="prevBtn", disabled) Назад
      button(id="nextBtn") Следующий вопрос
  script(src="../views/scripts/quiz.js")
  
