extends ../layouts/main

block content
  main.main 
    .container
      h3.main-content1-title Пройдите бесплатный тест и узнайте, подходит ли вам процедура банкротства?
      .main-content1 
        .main-content1-info 
          p Банкротство — это процедура, которая позволяет законно освободиться от долгов, если нет возможности их выплачивать.
          p Подробнее о процедуре судебного и внесудебного банкротства:
          .main-articles 
            dir
              a(href="#") Судебное банкротство
            dir
              a(href="#") Внесудебное банкротство
            dir
              a(href="#") Имущество, на которое не может быть обращено взыскание по исполнительным документам
        .couple 
          img(src="../public/couple.png", alt="couple")
      .main-content2 
        p Перед прохождением теста #[strong обязательно]  ознакомьтесь с рисками и последствиями процедуры банкротства:
        
        ul.main-content2-list 
          li брать кредиты и займы в течение 5 лет без указания факта банкротства
          li регистрироваться в качестве индивидуального предпринимателя в течение 5 лет
          li занимать должности в органах управления юридического лица в течение 3 лет
          li иныe
            a(href="#") последствия и риски
  //QUIZ
  .quiz-container
    .quiz-history
    .question 
    .options
    .navigation 
      button(id="prevBtn", disabled) Назад
      button(id="nextBtn") Следующий вопрос
  script(src="../views/scripts/quiz.js")
  
