/*-----------FAQ---------------*/
.faq {
  margin-top: 200px;
  max-width: 600px;
  //margin: 0 auto;
}

.question {
  background-color: #f0f0f0;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 5px;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease;
  padding: 0 10px;
}

.show-answer {
  max-height: 1000px; /* Выберите достаточно большое значение */
}
