@import url('./faq.css');
@import url('./footer.css');
@import url('./header.css');
@import url('./main.css');
@import url('./quiz.css');
@import url('./constructor.css');
@import url('./about.css');

body {
  background-color: rgba(255, 253, 235, 0.49);
  font-size: 18px;
  font-weight: 400;
  color: #140a32;
  font-family: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.viewport {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  margin: 0px 30px;
}
