/* Navbar Styles */
.navbar {
    background-color: #007bff; /* Цвет фона */
    display: flex;
  }

  
  .navbar-brand {
    margin-right: 2rem; /* Отступ справа для логотипа */
    display: inline-block;
  }
  
  .navbar-brand img {
    max-height: 80px; /* Максимальная высота логотипа */
    display: inline-block;
  }
  
  .navbar-menu {
    list-style-type: none; /* Убираем маркеры у списка */
    margin: 0; /* Убираем внешние отступы у списка */
    padding: 0; /* Убираем внутренние отступы у списка */
    display: inline-block;
  }
  
  .navbar-menu li {
    display: inline-block; /* Располагаем пункты горизонтально */
    margin-right: 1rem; /* Отступ между пунктами меню */
  }
  
  .navbar-menu li a {
    color: #fff; /* Цвет текста ссылок */
    text-decoration: none; /* Убираем подчеркивание ссылок */
  }
  
  .user-dropdown {
    float: right; /* Правое выравнивание */
    display: flex;
    justify-content: flex-end;
  }
  
  .user-dropdown a {
    color: #fff; /* Цвет текста ссылок */
    margin-left: 1rem; /* Отступ между пунктами */
  }
  
  .user-dropdown a:hover {
    text-decoration: underline; /* Подчеркивание ссылок при наведении */
  }
  
  .dropdown-menu {
    display: none; /* По умолчанию скрываем выпадающее меню */
    position: absolute; /* Абсолютное позиционирование */
    background-color: #007bff; /* Цвет фона */
    min-width: 150px; /* Минимальная ширина */
    z-index: 1; /* Задаем z-index, чтобы выпадающее меню оказалось выше остального содержимого */
  }
  
  .dropdown-menu li {
    display:inline-block;
  }
  
  .dropdown-menu li a {
    color: #fff; /* Цвет текста ссылок */
    padding: 0.5rem 1rem; /* Внутренний отступ */
    text-decoration: none; /* Убираем подчеркивание ссылок */
  }
  
  .dropdown-menu li a:hover {
    background-color: #0056b3; /* Цвет фона при наведении */
  }
  