body {
    background-color: rgba(255, 253, 235, 0.49);
    font-size: 18px;
    font-weight: 400;
    color: #140A32;
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0px 50px;
}

/*
.header-title {
    font-size: 100px;
}
*/

/*-----------Header---------------*/
.header {
    padding: 20px 0px 30px 0px;
    background-color: rgba(211, 211, 211, 0.5);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-brand {
    display: flex;
    align-items: center;
}

.header-brand img {
    height: 67px;
    width: 83px;
}


.nav {
    font-size: 24px;
    display: flex;
}

.nav a {
    margin-right: 32px;
    text-decoration: none;
    color: #140A32;
}

.header-login {
    display: inline-block;
}

.header-login-dropdown {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    width: 100%;
}

.header-login-ref{
    text-decoration: none;
    color: #140A32;
    font-size: 20px;
    font-weight: 253;
    display: flex;
    margin-left: 10px;
}

.header-login-dropdown img{
    height: 50px;
    width: 50px;
}

.header-login-content {
    display: none;
    position: absolute;
    z-index: 1;
    width: 253px;
    box-shadow: 0px 30px 16px 0px rgba(0,0,0,0.2);
    background-color: rgba(211, 211, 211, 1);
}

.header-login-content a {
    color: #140A32;
    padding: 15px 16px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu on hover */
.header-login:hover .header-login-content {
    display: block;
}

.header-login-content a:hover {
    background-color: gray;
}

.quiz-container {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
  }
  
  .options input[type="radio"] {
    margin-right: 5px;
  }
  
  .options label {
    margin-right: 10px;
  }
  
  .navigation {
    margin-top: 20px;
  }
  


/*-----------MAIN---------------*/