extends ../layouts/main

block content
  script(src="scripts/faq.js")
  main.main
    .container
      .main-content1
        .faq 
          div
            .faq_question(onclick="toggleAnswer(1)") Могу ли я стать банкротом, если сумма моих долгов меньше 25 тысяч рублей?
              span.toggle-icon-faq &#43
            .answer(id="answer1") Вам может подойти процедура судебного банкротства, если вы не можете возвратить долг в срок и при этом у вас нет имущества, которое по стоимости превышает размер долгов.
          div
            .faq_question(onclick="toggleAnswer(2)") Что меня ожидает после процедуры банкротства?
              span.toggle-icon-faq &#43
            .answer(id="answer2") Процедура банкротства не несет в себе много преимуществ. Ваше имущество будет реализовано, о других риска и последствиях вы можете почитать в разделе "О банкротстве"
          div
            .faq_question(onclick="toggleAnswer(3)") Потеряю ли я свое жилье после банкротства?
              span.toggle-icon-faq &#43
            .answer(id="answer3") При процедуре банкротства имущество распродается, но Ваше единственное жилье не подлежит данной процедуре и останется у Вас
          div
            .faq_question(onclick="toggleAnswer(4)") Зачем мне проходить тест?
              span.toggle-icon-faq &#43
            .answer(id="answer4") Тест позволит оценить Ваши риски и выявить наиболее благоприятные для Вас исходы, а также, позволит узнать, что следует делать дальше
          div
            .faq_question(onclick="toggleAnswer(5)") Могу ли я пройти тест просто для себя?
              span.toggle-icon-faq &#43
            .answer(id="answer5") Да, наш тест предназначен для всех пользователей и позволяет оценить свои риски
          div
            .faq_question(onclick="toggleAnswer(6)") Обязан ли я заполнять форму, в случае, если итогом теста станет банкротство?
              span.toggle-icon-faq &#43
            .answer(id="answer6") Нет, наш тест ни к чему Вас не обязывает и не побуждает к действиям
          div
            .faq_question(onclick="toggleAnswer(7)") Могу ли я рассчитывать на дальнейшее сопровождение процедуры банкротства?
              span.toggle-icon-faq &#43
            .answer(id="answer7") Нет, наш сайт носит ознакомительный характер и не предлагает юридических консультаций
          div
            .faq_question(onclick="toggleAnswer(8)") Зачем мне проходить регистрацию на сайте?
              span.toggle-icon-faq &#43
            .answer(id="answer8") Регистрация позволит Вам получить доступ к конструктору заявлений, который поможет Вам составить заявление о банкротстве