<!DOCTYPE html>
<html>
  <head>
    <title>БанкротствоЧек</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&amp;display=swap" rel="stylesheet">
    <link rel="icon" href="logo_new.ico" type="image/x-icon">
    <script src="scripts/jq.js"></script>
    <script src="scripts/auth.js"></script>
    <script src="scripts/popups.js"></script>
    <script src="scripts/footer.js"></script>
    <script src="scripts/feedback.js"></script>
    <script src="scripts/relevance_date.js"></script>
    <script src="scripts/navbar.js"></script>
    <script src="scripts/disclaimer.js"></script>
  </head>
  <body>
    <div class="viewport">
      <header class="header">
        <div class="container">
          <div class="header-content">
            <div class="header-brand-nav">
              <div class="header-brand"><a href="/"><img src="logo_new.png" alt="logo">
                  <h2 class="header_title">БанкротствоЧек</h2></a></div>
              <nav class="nav"><a href="/" id="a-main">Главная</a>
                <div class="vertical-line"></div><a href="/about" id="a-about">О банкротстве</a>
                <div class="vertical-line"></div><a href="/faq" id="a-faq">FAQ</a>
                <div class="vertical-line"></div><a class="constructor-link" href="/constructor" id="a-constructor">Заявления</a>
              </nav>
            </div>
            <div class="header-login"><img src="avatar.png" alt="avatar"><a class="header-login-ref" href="#" id="open-login-btn">Войти</a>
              <!--a.header-login-ref(href="#", id="open-registration-btn") Регистрация-->
            </div>
          </div>
        </div>
      </header>
      <div class="content">
        <script src="scripts/faq.js"></script>
        <main class="main">
          <div class="container">
            <div class="main-content1">
              <div class="faq"> 
                <div>
                  <div class="faq_question" onclick="toggleAnswer(1)">Могу ли я стать банкротом, если сумма моих долгов меньше 25 тысяч рублей?<span class="toggle-icon-faq">&#43</span></div>
                  <div class="answer" id="answer1">Вам может подойти процедура судебного банкротства, если вы не можете возвратить долг в срок и при этом у вас нет имущества, которое по стоимости превышает размер долгов.</div>
                </div>
                <div>
                  <div class="faq_question" onclick="toggleAnswer(2)">Что меня ожидает после процедуры банкротства?<span class="toggle-icon-faq">&#43</span></div>
                  <div class="answer" id="answer2">Процедура банкротства не несет в себе много преимуществ. Ваше имущество будет реализовано, о других риска и последствиях вы можете почитать в разделе "О банкротстве"</div>
                </div>
                <div>
                  <div class="faq_question" onclick="toggleAnswer(3)">Потеряю ли я свое жилье после банкротства?<span class="toggle-icon-faq">&#43</span></div>
                  <div class="answer" id="answer3">При процедуре банкротства имущество распродается, но Ваше единственное жилье не подлежит данной процедуре и останется у Вас</div>
                </div>
                <div>
                  <div class="faq_question" onclick="toggleAnswer(4)">Зачем мне проходить тест?<span class="toggle-icon-faq">&#43</span></div>
                  <div class="answer" id="answer4">Тест позволит оценить Ваши риски и выявить наиболее благоприятные для Вас исходы, а также, позволит узнать, что следует делать дальше</div>
                </div>
                <div>
                  <div class="faq_question" onclick="toggleAnswer(5)">Могу ли я пройти тест просто для себя?<span class="toggle-icon-faq">&#43</span></div>
                  <div class="answer" id="answer5">Да, наш тест предназначен для всех пользователей и позволяет оценить свои риски</div>
                </div>
                <div>
                  <div class="faq_question" onclick="toggleAnswer(6)">Обязан ли я заполнять форму, в случае, если итогом теста станет банкротство?<span class="toggle-icon-faq">&#43</span></div>
                  <div class="answer" id="answer6">Нет, наш тест ни к чему Вас не обязывает и не побуждает к действиям</div>
                </div>
                <div>
                  <div class="faq_question" onclick="toggleAnswer(7)">Могу ли я рассчитывать на дальнейшее сопровождение процедуры банкротства?<span class="toggle-icon-faq">&#43</span></div>
                  <div class="answer" id="answer7">Нет, наш сайт носит ознакомительный характер и не предлагает юридических консультаций</div>
                </div>
                <div>
                  <div class="faq_question" onclick="toggleAnswer(8)">Зачем мне проходить регистрацию на сайте?<span class="toggle-icon-faq">&#43</span></div>
                  <div class="answer" id="answer8">Регистрация позволит Вам получить доступ к конструктору заявлений, который поможет Вам составить заявление о банкротстве</div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
      <footer>
        <div class="footer">
          <div class="container-data">
            <div class="centered-elements">
              <p class="relevance-date">Дата публикации</p>
              <button class="feedback-btn">Открыть форму обратной связи</button>
            </div>
            <p class="info-text">Вся информация на портале носит справочный характер</p>
          </div>
          <form class="feedback-form new-class" action="#" method="post">
            <h3>Форма обратной связи</h3>
            <input id="feedback-name" type="text" placeholder="Ваше имя" maxlength="30" required>
            <input id="feedback-email" type="email" placeholder="Ваш email" maxlength="30" required>
            <input id="feedback-phone" type="tel" placeholder="Ваш номер телефона" maxlength="13" required>
            <textarea id="feedback-message" rows="4" placeholder="Ваше сообщение" maxlength="500" required></textarea>
            <button id="feedback-btn" type="button">Отправить</button>
            <p id="feedback-result">Заявка успешно отправлена, с вами свяжутся в ближайшее время.</p>
            <p class="privacy-text">Отправляя данную форму, вы подтверждаете, что ознакомились с нашей <a class="privacy-link" href="/policy/Политика_обработки_персональных_данных_БанкротствоЧек.pdf" target="_blank">политикой обработки персональных данных</a> и дали свое согласие на <a class="privacy-link" href="/policy/Согласие_на_обработку_персональных_данных_БанкротствоЧек.pdf" target="_blank">обработку персональных данных</a>.</p>
          </form>
        </div>
        <div class="popup" id="popup">
          <div class="popup-body"> 
            <div class="popup-content"> <span class="close">&times;</span>
              <h2>Вход</h2>
              <form>
                <div class="container">
                  <hr>
                  <input type="text" placeholder="Введите имя пользователя" id="login-login" maxlength="30" required><br>
                  <input type="password" placeholder="Введите пароль" id="login-password" maxlength="30" required><br>
                  <div class="popup-comment-div" id="enter-comment">
                    <p class="popup-comment" id="enter-login-comment">Фарвоафо</p>
                    <p class="popup-comment" id="enter-password-comment">Фарвоафо</p>
                  </div>
                  <hr>
                  <button class="reg-enter-button" type="button" id="login-btn">Войти</button>
                  <hr>
                  <p><a id="login-reg-button" href="#">Зарегистрироваться</a> если у вас нет аккаунта</p>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="popup" id="popup-2">
          <div class="popup-body">
            <div class="popup-content"> <span class="close2">&times;</span>
              <h2>Регистрация</h2>
              <form>
                <div class="container"> 
                  <hr>
                  <input type="text" placeholder="Введите имя пользователя" id="registration-login" maxlength="30" required><br>
                  <input type="password" placeholder="Введите пароль" id="registration-password" maxlength="30" required><br>
                  <input type="password" placeholder="Повторите пароль" id="registration-password-again" maxlength="30" required><br>
                  <div class="popup-comment-div" id="registration-comment">
                    <p class="popup-comment" id="registration-login-comment">Фарвоафо</p>
                    <p class="popup-comment" id="registration-password-comment">Фарвоафо</p><br>
                  </div>
                  <p class="privacy-text">Создавая аккаунт вы соглашаетесь с нашей <a class="privacy-link" href="/policy/Пользовательское соглашение.pdf" target="_blank">политикой конфиденциальности</a></p>
                  <button class="reg-enter-button" type="button" id="registration-btn">Зарегистрироваться</button>
                  <hr>
                  <p><a id="reg-login-button" href="#">Войти</a> если у вас уже есть аккаунт</p>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="popup" id="popup-disclaimer">
          <div class="popup-body">
            <div class="popup-content"> 
              <h2>Дисклеймер</h2><br>
              <p>Вся информация на портале носит справочный характер</p><br>
              <button class="reg-enter-button" type="button" id="accept-disclaimer-btn">Принимаю</button>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>